<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tudiliuzhuan.mapper.ApplyClaimThirdMappingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tudiliuzhuan.entity.ApplyClaimThirdMapping">
        <id column="id" property="id" />
        <result column="claim_record_id" property="claimRecordId" />
        <result column="sign_flow_id" property="signFlowId" />
        <result column="sign_result" property="signResult" />
        <result column="result_desc" property="resultDesc" />
        <result column="sign_url" property="signUrl" />
        <result column="sign_file_id" property="signFileId" />
        <result column="sign_oss_url" property="signOssUrl" />
        <result column="signTime" property="signTime" />
        <result column="business_scence" property="businessScence" />
        <result column="flow_status" property="flowStatus" />
        <result column="status_desc" property="statusDesc" />
        <result column="sign_create_time" property="signCreateTime" />
        <result column="sign_end_time" property="signEndTime" />
        <result column="sign_flow_update_json" property="signFlowUpdateJson" />
        <result column="sign_flow_finish_json" property="signFlowFinishJson" />
        <result column="is_real_apply_claim" property="realApplyClaim" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, claim_record_id, sign_flow_id, sign_result, result_desc, sign_url, sign_file_id, sign_oss_url, signTime, business_scence, flow_status, status_desc, sign_create_time, sign_end_time, sign_flow_update_json, sign_flow_finish_json, is_real_apply_claim, create_time, update_time, is_deleted
    </sql>

</mapper>
